html, body{
    min: 100%;
    font-family: "American Typewriter";
    scroll-behavior: smooth;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nav {
    position: absolute;
    top: 30px;
    left: 50%;
    text-align: right;
    float: right;
    width: 50%;
}

.navHeaders{
    color: #4f4f4f;
    font-family: "American Typewriter";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;

}
.navHeaders:hover{
    color: blue;
}

.container-logo{
    width: 200px;
    height: 120px;
    padding-left: 20px;
    padding-top: 15px;
}

.container-logo img{
    width: 30%;
    height: auto;
}